 /* .mat-tab-body-content {
   padding: 50px 30px;
 } */

 .alert-message {
   text-align: center;
   color: #880e4f;
   background-color: #f8d7da;
   border-color: #f5c6cb;
   border-radius: .25rem;
   padding: 20px;
 }

 .alert-message p {
   margin-bottom: 0;
 }

 .friends-tab {
   padding: 40px 10px;
   border-top: 2px solid #880e4f;

   margin-top: 20px;
 }

 .mat-tab-label.mat-tab-label-active {
   background-color: #283593;
   color: white;
   font-weight: 700;
   opacity: 1;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
 }

 .requests-tab {
   margin-top: 10px;

 }

 .requests-tab .tab-container {
   padding: 50px 20px;
 }

 .requests-tab .mat-tab-header {
   background-color: #e9ecef;
   padding: 0px 20px;
   border-radius: 5px;
   border-bottom: 0px;
 }

 .requests-tab .mat-tab-label {
   color: #283593;
   opacity: 0.6;
   border-radius: 0;
   min-width: 120px;
 }

 .requests-tab .mat-tab-label-active {
   background-color: white;
   color: #283593;
   transition: ease-in-out 500ms;
   opacity: 1;
   border-bottom: 2px solid #283593;
   min-width: 120px;

 }

 .requests-tab .mat-tab-header .mat-ink-bar {
   height: 0px;
 }
