.footer {
  background-color: #283593;
  color: white;
  border-top: 10px solid #e9ecef;
  padding: 10px;
  height: 80px;
}

p {
  margin: 0;
}

.contact-us p {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 12px;
}
.contact-us a {
  color: white;
}
