<div class="header" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around stretch">
  <div fxFlex="50" fxLayout="column" fxLayoutGap="20px">
    <h1 class="mat-display-1">{{project.title}}</h1>
    <h3>{{project.shortDescription}}</h3>
  </div>
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
    <div class="header-owner" fxLayoutGap="10px">
      <span class="knownAs">Owner: </span>
      <img src="{{project.owner.photoUrl}}">
      <span>{{project.owner.knownAs}}</span>
    </div>
    <div class="header-collaborators">
      <button mat-button [matMenuTriggerFor]="collaboratorsMenu">Collaborators <mat-icon>keyboard_arrow_down
        </mat-icon></button>
      <mat-menu #collaboratorsMenu="matMenu">
        <div mat-menu-item class="header-collaborator-item" *ngFor="let collaborator of project.collaborators">
          <img src="{{collaborator.photoUrl}}" style="width: 30px; border-radius:50%">
          <span>{{collaborator.knownAs}}</span>
        </div>
      </mat-menu>
    </div>
  </div>
</div>
<div class="container" ngClass.xs="containerXs">
  <div *ngIf="authService.currentUser.id === project.ownerId">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button mat-raised-button [routerLink]="['/projects']" color="accent">Back to list</button>
      <button mat-raised-button color="primary" (click)="toggleForm()">New Todo <mat-icon>add</mat-icon></button>
    </div>
    <form [formGroup]="newTodoForm" (ngSubmit)="create()" class="create-form" *ngIf="panelOpenState" [@inOutAnimation]
      fxLayout="column" fxLayoutAlign="center">
      <mat-form-field appearance="outline" class="form-field" color="primary">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title">
        <mat-error *ngIf="newTodoForm.get('title').hasError('required')">
          A title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="primary">
        <mat-label>Short Description</mat-label>
        <input type="text" matInput formControlName="shortDescription">
        <mat-error *ngIf="newTodoForm.get('shortDescription').hasError('required')">
          A short description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="primary">
        <mat-label>Long Description</mat-label>
        <textarea type="text" matInput formControlName="longDescription"></textarea>
        <mat-error *ngIf="newTodoForm.get('longDescription').hasError('required')">
          A long description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="primary">
        <mat-label>Estimated Completion Date</mat-label>
        <input matInput [matDatepicker]="estimatedDate" (click)="estimatedDate.open()" formControlName="estimatedDate"
          readonly>
        <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
        <mat-datepicker #estimatedDate disabled="false" color="primary"></mat-datepicker>
        <mat-error *ngIf="newTodoForm.get('estimatedDate').hasError('required')">
          A date for completion is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="form-field" style="text-align:end">
        <button mat-raised-button type="submit" color="accent" [disabled]="!newTodoForm.valid">Create</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="project.todos.length < 1" style="margin-top: 20px;">
  <h2 style="text-align:center">There are no todos yet</h2>
</div>

<div class="container" ngClass.xs="containerXs" fxLayout="column" fxLayoutGap="30px">
  <div *ngFor="let todo of project.todos; index as i">
    <app-todo-card [todo]="todo" [index]="i" [ownerId]="project.ownerId" (deletedEvent)="onDeleted($event)">
    </app-todo-card>
  </div>
</div>
