.header {
  background-color: #e9ecef;
  color: #283593;
  padding: 20px 10px;
  border-bottom: 1px solid #283593;
}

.header-owner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-owner .knownAs {
  color: #00838f;
  font-weight: 700;
}

.header-owner img {
  width: 30px;
  border-radius: 50%;
}

.header-collaborators {
  display: flex;
  justify-content: flex-end;
}

.header-collaborator-item {
  display: flex;
  align-items: center;
}

.header-collaborator-item img {
  margin-right: 10px;
}

.create-form {
  padding: 20px;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 4px rgba(0, 0, 0, 0.12);

}
