
<div class="dialog">
  <div class="dialog-top" fxLayout="row wrap" fxLayout.xs="column">
      <div class="dialog-top-content" fxFlex="70" fxLayout="column">
        <div class="dialog-top-content-title">
          <h1>{{user.knownAs}}</h1>
        </div>
        <div class="dialog-top-content-text" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
          <p><strong>{{user.position}}</strong></p>
          <span>at</span>
          <p><strong>{{user.employer}}</strong></p>
        </div>
      </div>
      <div class="dialog-top-img" fxFlex="30">
        <img src="{{user.photoUrl }}">
      </div>
    </div>
  <mat-dialog-content>
      <p>asdagadg</p>
    <p>fhfhfdgdf</p>
    <p>agdhgssh</p>
    <p>asd</p>
      <p>asdagadg</p>
    <p>fhfhfdgdf</p>
    <p>agdhgssh</p>
    <p>asd</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onDismiss()">Cancel</button>
  </mat-dialog-actions>
</div>