<div class="container" ngClass.xs="containerXs" fxLayout="row" fxLayoutAlign="center center">
  <div class="form-content" fxFlex="80%" fxFlex.lt-sm="100%">
    <h1>Register</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="login-form" fxLayout="column"
      fxLayoutAlign="center stretch">

      <mat-form-field appearance="outline" class="form-field" color="primary">
        <mat-label>Password</mat-label>
        <input [type]="hidePwd ? 'password' : 'text'" matInput formControlName="password">
        <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePwd" color="accent">
          <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password').hasError('minlength') ||
          resetPasswordForm.get('password').hasError('maxlength')">
          Password must be between <strong>8 and 25 </strong> characters
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field" color="primary">
        <mat-label>Confirm Password</mat-label>
        <input [type]="hideCPwd ? 'password' : 'text'" matInput formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hideCPwd = !hideCPwd" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideCPwd" color="accent">
          <mat-icon>{{hideCPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
          Confirm Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('passwordMismatch')">
          Confirm password <strong>do not match </strong> provided password
        </mat-error>
      </mat-form-field>

      <div class="submit-button" fxLayout="row" fxLayoutAlign="center center">
        <button type="submit" mat-raised-button color="accent" [disabled]="!resetPasswordForm.valid" fxFlex="50%">Reset
          Password</button>
      </div>
      <div class="confirm-password" *ngIf="registrationSuccessful">
        <p style="text-align: center">Password reseted successfully. Please <strong>log in now.</strong></p>
      </div>
    </form>
  </div>
</div>
