.mat-dialog-content {
  width: 350px;
  padding: 10px
}

.mat-form-field {
  width: 100%;
}

.confirm-password {
  color: white;
  background-color: #00838f;
  border-radius: .25rem;
  padding: 10px;
  margin-top: 10px;
}
