.project-card {
  background-color: #e9ecef;
  padding: 20px;
  box-shadow: 2px 2px 8px 2px #a3a0a3;
  color: #1e457c;
  border-top: 5px solid #880e4f;
  border-radius: 5px;
}

.project-card span {
  font-weight: 700;
  color: #00838f;
}

.project-card-header {
  cursor: pointer;
}

.project-card .title-section {
  background-color: #283593;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.project-card .title-section h1 {
  margin-bottom: 0;
}

.owner-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.description-section {
  background-color: #880e4f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 2px #a3a0a3;
}

.description-section p {
  margin-bottom: 0;
  color: white;
}

.owner-section p {
  margin-bottom: 0;
  margin-right: 5px;
}

.owner-section img {
  border-radius: 50%;
  width: 30px;
}

.collaborator-item {
  justify-content: space-between;
}

.collaborator-item .collaborator-data {
  display: flex;
  align-items: center;
}

.collaborator-item .collaborator-action {
  display: flex;
  align-items: center;
}

.collaborator-item .collaborator-action button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00838f;
}

.collaborator-item .collaborator-action button:hover {
  background-color: #880e4f;
}

.collaborator-item .collaborator-action button .mat-icon {
  margin: 0;
  color: white;
  transform: scale(0.7);
}

.collaborator-item:hover img {
  transform: scale(1.2, 1.2);
}

.collaborator-item img {
  border-radius: 50%;
  width: 30px;
  margin-right: 10px;
}

.message {
  color: white !important;
  background-color: #00838f;
  padding: 10px 20px;
  border-radius: 10px;
}

.message .message-title img {
  border-radius: 50%;
  width: 20px;
}

::ng-deep .mat-menu-item {
  display: flex;
  align-items: center;
  width: 200px;
}

.edit-form {
  padding: 20px;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 4px rgba(0, 0, 0, 0.12);
}

.mat-label {
  font-weight: 800;
}

.form-field {
  justify-content: end;
}

.form-field button {
  width: 150px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #00838f;
}

::ng-deep .mat-progress-bar {
  height: 8px !important;
}

::ng-deep .mat-progress-bar-fill {
  transition: none !important;
}

::ng-deep .mat-progress-bar-buffer {
  background: #e4e8eb;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
