.create-form {
  padding: 20px;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 4px rgba(0, 0, 0, 0.12);

}

.mat-label {
  font-weight: 800;
}

.form-field {
  justify-content: end;
}

.form-field button {
  width: 150px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.projects-container {
  margin-top: 20px;
}

.alert-message {
  text-align: center;
  color: #880e4f;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: .25rem;
  padding: 40px;

}

.success-message {
  text-align: center;
  color: white;
  background-color: #00838f;
  border-radius: .25rem;
  padding: 20px;

}
