<div class="header" fxLayout="column" fxLayoutGap="20px">
  <h1 class="mat-display-1">Projects</h1>
  <h3>Manage your projects</h3>
</div>

<div class="container" ngClass.xs="containerXs" fxLayout="column">
  <div class="container-top" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" (click)="toggleForm()" fxFlex="25%" fxFlex.xs="35%">New Project <mat-icon>
        add</mat-icon>
    </button>
    <mat-form-field appearance="outline" color="accent" class="form-field" fxFlex="40%" fxFlex.xs="50%">
      <mat-icon matSuffix color="accent">search</mat-icon>
      <mat-label>Search</mat-label>
      <input type="text" placeholder="Title" matInput [(ngModel)]="searchTerm" name="searchTerm"
        (keyup)="loadProjects()">
    </mat-form-field>
  </div>

  <div *ngIf="projects.length < 1 && searchTerm.length < 1" style="margin-top: 20px;">
    <h2 style="text-align:center">You have no projects yet. Create one!</h2>
  </div>

  <form [formGroup]="newProjectForm" (ngSubmit)="create()" class="create-form" *ngIf="panelOpenState" [@inOutAnimation]
    fxLayout="column" fxLayoutAlign="center">
    <mat-form-field appearance="outline" class="form-field" color="primary">
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName="title">
      <mat-error *ngIf="newProjectForm.get('title').hasError('required')">
        A title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field" color="primary">
      <mat-label>Short Description</mat-label>
      <input type="text" matInput formControlName="shortDescription">
      <mat-error *ngIf="newProjectForm.get('shortDescription').hasError('required')">
        A short description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field" color="primary">
      <mat-label>Long Description</mat-label>
      <textarea type="text" matInput formControlName="longDescription"></textarea>
      <mat-error *ngIf="newProjectForm.get('longDescription').hasError('required')">
        A long description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field" color="primary">
      <mat-label>Estimated Completion Date</mat-label>
      <input matInput [matDatepicker]="estimatedDate" (click)="estimatedDate.open()" formControlName="estimatedDate"
        readonly>
      <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
      <mat-datepicker #estimatedDate disabled="false" color="primary"></mat-datepicker>
      <mat-error *ngIf="newProjectForm.get('estimatedDate').hasError('required')">
        A date for completion is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="form-field" style="text-align:end">
      <button mat-raised-button type="submit" color="accent" [disabled]="!newProjectForm.valid">Create</button>
    </div>
  </form>

  <div *ngIf="searchTerm.length !== 0 && projects.length < 1" class="alert-message">
    <p style="margin-bottom: 0">There are no projects with a title containing <strong>{{searchTerm}}</strong> </p>
  </div>

  <div *ngIf="searchTerm.length !== 0 && projects.length >= 1" class="success-message">
    <p style="margin-bottom: 0">There are <strong>{{projects.length}}</strong> projects with a title containing
      <strong>{{searchTerm}}</strong> </p>
  </div>

  <div class="projects-container" fxLayout="column" fxLayoutGap="20px">
    <div class="project-card" *ngFor="let project of projects; index as i">
      <app-project-card [project]="project" [friends]="acceptedFriends" [index]="i" (deletedEvent)="onDeleted($event)"
        [@inOutAnimation]>
      </app-project-card>
    </div>
  </div>
</div>
