
.login-form {
    padding: 40px 10px;
    box-shadow: 2px -2px 10px #8a858a;
}

.form-field {
    width: 100%;

}

.mat-form-field.mat-form-field {
    font-size: 16px;
}

.mat-raised-button {
    width: 100%;
}

