.test {
  border-bottom: 1px solid #4a148c;
}

.mat-paginator {
  background: transparent;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

.mat-icon-button {
  color: #880e4f;
}

.mat-select-value {
  color: #880e4f;
  font-weight: bold;

}

.mat-select-arrow {
  color: #880e4f;
}

.mat-option-text {

  text-align: center;
}

.selected-icon {
  position: relative;
  top: 6px;

}

.alert-message {
  text-align: center;
  color: #880e4f;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: .25rem;
  padding: 20px;
}

.alert-message p {
  margin-bottom: 0;
}

.alert-message strong {
  font-size: 18px;
}
